<form name="myForm" ng-submit="submit()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"
            aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title" id="myModalLabel">{{Title}}
        </h4>
    </div>
    <div class="modal-body">
        <p>
            Description
            <input type="text" ng-model="data.Description" class="form-control" ng-required="true" />
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Submit changes
        </button>
    </div>
</form>

