<form name="myForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"
            aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title" id="myModalLabel">{{Title}}
        </h4>
    </div>
    <div class="modal-body">
        Your select countyr :  {{test}}
                                        <br />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">
            Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="close()">
            Submit changes
        </button>
    </div>
</form>

