<form name="myForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"
            aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title" id="myModalLabel">{{Title}}
        </h4>
    </div>
    <div class="modal-body">
        <p>Title <input type="text" ng-model="data.Title" class="form-control" /></p>
        <p>Description <input type="text" ng-model="data.Description" class="form-control" /></p>
        <p>Prioriry <input type="text" ng-model="data.Priority" class="form-control" /></p>
        <p>Estimate Time <input type="text" ng-model="data.EstimateTime" class="form-control" /></p>
        <p>Actual Time <input type="text" ng-model="data.ActualTime" class="form-control" /></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">
            Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="submit()">
            Submit changes
        </button>
    </div>
</form>

