<form name="myForm" ng-submit="submit()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"
            aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title" id="myModalLabel">{{Title}}
        </h4>
    </div>
    <div class="modal-body">
        <p>
            Work Item Type :
        </p>
        <p>
            <select ng-model="data.WorkItemTypeId" ng-options="w.WorkItemTypeId as w.Description for w in workitemtypes" required></select>
        </p>
        <p>
            Project :
        </p>
        <p>
            <select ng-model="data.ProjectId" ng-options="p.ProjectId as p.Name for p in projects" required></select>
        </p>
        <p>
            Title
            <input type="text" ng-model="data.Title" class="form-control" ng-required="true" />
        </p>
        <p>
            Description
            <input type="text" ng-model="data.Description" class="form-control" ng-required="true" />
        </p>
        <p>
            Prioriry
            <input type="text" ng-model="data.Priority" class="form-control" ng-required="true" />
        </p>
        <p>Assigned To :</p>
        <p>
            <select ng-model="data.AssignTo" ng-options="u.UserId as u.FirstName for u in users"></select>
        </p>
        <p>
            Status :
        </p>
        <p>
            <select ng-model="data.StatusId" ng-options="s.StatusId as s.Description for s in statuses" ng-required="true"></select>
        </p>
        <p>
            Work Item Group :
        </p>
        <p>
            <select ng-model="data.WorkItemGroupId" ng-options="w.WorkItemGroupId as w.Description for w in workitemgroups" ng-required="true"></select>
        </p>

        <p>
            Estimate Time
            <input type="text" ng-model="data.EstimateTime" class="form-control" />
        </p>
        <p>
            Actual Time
            <input type="text" ng-model="data.ActualTime" class="form-control" />
        </p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Submit changes
        </button>
    </div>
</form>

