<section class="content-header">
    <h1>{{title}}
        <small>{{subTitle}}</small>
    </h1>

</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="">
        <div class="">
            <div>
                <div>

                    <div class="box" style="padding: 20px">


                        <div class="box-body">


                            {{num}}
                            <div id="cy"></div>

                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</section>

