<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>{{title}}
        <small>{{subTitle}}</small>
    </h1>

</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="">
        <div class="">

            <div ng-controller="graphController">
                <div force></div>
                <div id="chart"></div>
                <div id="my_custom_menu" style="display: none;">
                </div>
            </div>

        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
