<section class="content-header">
    <h1>{{title}}
        <small>{{subTitle}}</small>
    </h1>

</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="">
        <div class="">
            <div>
                <div>

                    <div class="box" style="padding: 20px">


                        <div class="box-body">
                            {{num}}
                            <div id="cy"></div>
                            <ul>
                                <li ng-repeat="item in items">
                                    <p>Always present: {{item.name}}</p>
                                    <p>Loads later: {{item.lateLoader}} <i ng-hide="item.lateLoader" class="icon icon-refresh icon-spin">loading image i don't have</i></p>

                                </li>
                            </ul>
                            <div ng-hide="display" class="loading"><img src="../Images/loading.gif" /></div>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</section>

