<section class="content-header">
    <h1>{{title}}
        <small>{{subTitle}}</small>
    </h1>

</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="">
        <div class="">
            <div>
                <div>

                    <div class="box" style="padding: 20px">


                        <div class="box-body">

                            <div style="height: 40px;">
                                <div style="float:left">
                                    Search :
                                <input type="text" ng-model="test">
                                </div>
                                <div style="float: right;">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="OnAddNew()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        <span>Add new</span>
                                    </button>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <tr style="font-size: 18px">
                                    <th>Id</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="x in rights | filter:test | orderBy:'Description'">
                                    <td style="width: 10%">{{ x.RightId }}</td>
                                    <td style="width: 90%">{{ x.Description }}</td>
                                    <td><button type="button" class="btn btn-link" data-toggle="modal" ng-click="OnEdit(x)">Select</button></td>
                                </tr>
                            </table>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#RightList">&laquo;</a></li>
                                    <li><a href="#RightList">1</a></li>
                                    <li><a href="#RightList">2</a></li>
                                    <li><a href="#RightList">3</a></li>
                                    <li><a href="#RightList">&raquo;</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div ng-hide="display" class="loading"><img src="../Images/loading.gif" /></div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </div>
        <!-- /.box-body -->

    </div>
    <!-- /.box -->
</section>

